@font-face {
  font-family: 'db_helvethaica_bd_it';
  src: url('./DB_HelvethaicaAIS_X_Bd_It_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_bd';
  src: url('./DB_HelvethaicaAIS_X_Bd_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_blk_it';
  src: url('./DB_HelvethaicaAIS_X_Blk_It_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_blk';
  src: url('./DB_HelvethaicaAIS_X_Blk_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_it';
  src: url('./DB_HelvethaicaAIS_X_It_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_med_it';
  src: url('./DB_HelvethaicaAIS_X_Med_It_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica_med';
  src: url('./DB_HelvethaicaAIS_X_Med_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url('./DB_HelvethaicaAIS_X_v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}
